@mixin circle($width, $color) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  -o-border-radius: $width/2;
  -ms-border-radius: $width/2;
  border-radius: $width/2;
  background-color: $color;
}

@mixin triangle($width,$dir,$color) {
  width: 0;
  height: 0;
  display: block;
  @if $dir == up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  } @else if $dir == down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  } @else if $dir == left {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  } @else if $dir == right {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}

%clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin dark($color) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color;
  top: 0;
  left: 0;
}

%hide-text {
  text-indent: -9999px;
  color: transparent;
  font-size: 0;
}

.hide {
  display: none!important; // for js
}

@mixin rem-size($size) {
  font-size: $size;
  font-size: ($size/16) + rem;
}

@mixin font($size, $font, $color) {
  font-family: $font;
  font-size: $size;
  font-size: ($size/16) + rem;
  line-height: $size + 2;
  line-height: (($size/16) + 0.125) + rem;
  color: $color;
}


@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::input-placeholder {
    color: $color;
  }
}