header.header
    .logo
        a.logo__link
            img(src="" alt="logo")
            span(logo__text) logo

    - var items = ['обо мне', 'контакы', 'проекты']

    +list(items, 'className', 0)